*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url(../../../assets/images/login_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}
.container1{
    margin-top: -70px;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.tit{
    font-size: 28px;
    font-weight: 600;
    color: aliceblue;
}
.container1 p{
    color: aliceblue;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
}

.btn{
    padding: 2% 10%;
    border-radius: 25px;
    font-weight: 500;
    width: 40%;
    border-width: 2px;
}
.login{
    background-color: aliceblue;
    height: 88%;
    border-radius: 10% 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.logo{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline-end: 3%;
    padding-top: 1%;
}
.logo img{
    width: 14%;


}
.con{
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
}
form{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.form-control{
    padding: 8px;
    margin-top: 8px;
}
.l{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.l button{
    background-color: #3658A2;
    border-color: #3658A2;
}
.mdpoub{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
    padding-right: 20px;
}
.mdpoub a{
    font-size: 12px;
    color: darkblue;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}