<nav>
    <img src="../../../assets/images/s2t-logo.png" alt="">
    <div class="btnn">
        <button (click)="signup()" style="color: #222d52;" mat-button>S'inscrire</button>
        <button (click)="login()"  mat-raised-button style="background-color: #222d52; color: white; border-color: #222d52;">Se connecter</button>
        
    </div>
</nav>
<div class="accueil">
    <div class="aa">
        <!-- <p>Bienvenue au S2T (Smart Tunisian Technoparks)! Que vous soyez apprenant cherchant à développer vos compétences ou formateur désireux de
             partager votre expertise, nous avons ce qu'il vous faut. Rejoignez-nous pour des formations de qualité et contribuez à un avenir prometteur.</p> -->
        <p>
            Restez à la pointe des dernières technologies <br>
            
        </p>
        <span>Renforcez vos compétences et développez votre carrière</span>
        <button  mat-raised-button style="background-color: #222d52; color: white; border-color: #222d52; margin-top: 20px;"><a style="text-decoration: none; color: white;" href=#aboutUs>Découvrir</a></button>
        
    </div>
</div>
<div id="aboutUs" class="aboutUs">
    <h2 align="center">A propos de nous</h2>
    <p>
        Bienvenue au S2T (Smart Tunisian Technoparks) <br>
        Nous sommes votre partenaire privilégié pour le développement professionnel en informatique. Notre plateforme permet aux formateurs de soumettre leurs dossiers pour offrir des formations de qualité et aux apprenants, principalement des employés, de s'inscrire à ces formations pour rester à jour avec les dernières avancées du domaine. <br>
    </p>
    <div class="mission">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h2>Nos missions</h2>
            <p>
                Notre mission est de fournir des formations informatiques de qualité, dispensées par des formateurs experts et passionnés, pour répondre aux besoins des entreprises et des particuliers. <br>
                Nous proposons un large éventail de formations, couvrant tous les domaines de l'informatique, du développement web à la cybersécurité, en passant par la bureautique et les réseaux. <br>
                Nos formations sont conçues pour être accessibles à tous, quel que soit votre niveau de départ. Nous proposons également des formations sur mesure, adaptées aux besoins spécifiques de votre entreprise. <br>
            </p>
        </div>
        <div class="image">
            <img src="../../../assets/images/s2t.jpg" alt="">
        </div>
    </div>  
</div>
<div class="service">
    <h2 align="center" style="color: #eee5d9;">Nos services</h2>
    <div class="ser">
        <div class="ser1">
            <img src="../../../assets/images/entraînement.png" alt="">
            <h3>Programmes de Formation Continue</h3>
            <small>Cours et ateliers conçus pour améliorer et maintenir les compétences informatiques des professionnels.</small>
        </div>
        <div class="ser1">
            <img src="../../../assets/images/choix-multiple.png" alt="">
            <h3>Catalogue de Formations Diversifiées</h3>
            <small>Une large gamme de cours couvrant les sujets les plus récents et pertinents en informatique.</small>
        </div>
        <div class="ser1">
            <img src="../../../assets/images/expert.png" alt="">
            <h3>Expertise des Formateurs</h3>
            <small>Accédez à des formateurs expérimentés et qualifiés, prêts à partager leurs connaissances approfondies.</small>
        </div>
        <div class="ser1">
            <img src="../../../assets/images/diplôme.png" alt="">
            <h3>Certification et Reconnaissance Professionnelle</h3>
            <small>Obtenez des certificats reconnus qui valoriseront votre parcours professionnel.</small>
        </div>
        <div class="ser1">
            <img src="../../../assets/images/curseur.png" alt="">
            <h3>Flexibilité et Accessibilité</h3>
            <small> Formations disponibles en ligne et en présentiel pour répondre à vos besoins et à vos contraintes de temps.</small>
        </div>
    </div>
</div>
<footer>
    <div style="display: flex; align-items: center; justify-content:center ;">
        <div #mapContainer style="height: 40vh; width: 70%; margin-top: 20px;"></div>
    </div>
    <div class="details">
        <div><i class="fa-solid fa-location-dot"></i> <strong>adresse:</strong> <span>Ariana</span></div>
        <div><i class="fa-solid fa-phone"></i> <strong>Telephone:</strong> <span>71 856 600</span></div>
        <div><i class="fa-solid fa-envelope"></i> <strong>email:</strong> <span></span></div>
        <div><i class="fa-solid fa-globe"></i> <strong>site web:</strong> <span><a href="/url?sa=t&source=web&rct=j&opi=89978449&url=http://www.s2t.tn/&ved=2ahUKEwj68JCs2p-GAxVLhP0HHb9bDBIQ_Bd6BAhKEAM"> www.s2t.tn</a></span></div>
    </div>
</footer>