<div class="container">
    <div class="stat">
        <div class="totale">
            <div class="nn">
                <div class="cont">
                    <h3>Nombre total des apprenants</h3>
                    @if (tot) {
                    <h2>{{tot['apprenant']}}</h2>
                    }
                </div>
                <div><img src="../../../../assets/images/student.png" alt=""></div>
            </div>
            <div class="nn">
                <div class="cont">
                    <h3>Nombre total des formateurs</h3>
                    @if (tot) {
                        <h2>{{tot['formateur']}}</h2>
                        }
                    <!-- <h2>{{tot[]}}</h2> -->
                </div>
                <div><img src="../../../../assets/images/tutor.png" alt=""></div>
            </div>
            <div class="nn">
                <div class="cont">
                    <h3>Nombre total des sessions</h3>
                    @if (tot) {
                        <h2>{{tot['session']}}</h2>
                        }
                    <!-- <h2>{{tot[]}}</h2> -->
                </div>
                <div><img src="../../../../assets/images/session.png" alt=""></div>
            </div>
            <div class="nn">
                <div class="cont">
                    <h3>Taux de présence</h3>
                    @if (taux) {
                        <h2>{{taux}}%</h2>
                        }
                    <!-- <h2>{{tot[]}}</h2> -->
                </div>
                <div><i style="font-size: 2rem;" class="fa-solid fa-user-check"></i></div>
            </div>
            
        </div>
        <div>
            <div class="chart">
                <div class="divChart">
                    <div style="height: 35vh;" [chart]="presenceSem"></div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="autre">
        <div>
            <div class="chart">
                <div class="divChart">
                    <div  [chart]="difficultes"></div>
                </div> 
            </div>
            <div class="chart" style="margin-top: 10px;">
                <div class="divChart">
                    <div  [chart]="themes"></div>
                </div> 
            </div>
        </div>

        <div style="display: flex; flex-direction: column; gap: 15px;">
            <h2>Découvrez Nos Recommandations</h2>
            <div class="chart">
                <h5>Les Sujets de Formation Idéaux</h5> 
                <div class="sujet">
                    @for (item of recommendations; track $index) {
                        <div class="tit"><div class="cer"></div> {{item}}</div>
                    }
                </div>
            </div>
           
            <div class="chart">
                <h5>Notre Meilleur Formateur</h5> 
                <div class="best">
                    <img src="../../../../assets/images/icons8-best-seller-60.png" alt="">
                    <div class="form">
                        <img [src]="formateurImageUrls[bestFormateur.id]" alt="{{bestFormateur.firstname}} {{bestFormateur.lastname}}" class="formateur-image">
                        <strong>{{bestFormateur.firstname}} {{bestFormateur.lastname}}</strong>
                    </div>
                </div>
               
            </div>
                
        </div>
    
        
    <!-- <div class="chart">
        <app-agenda></app-agenda>
    </div> -->
    </div>
</div>