<div class="container">
    <div class="t">
        <div class="total">
            <h3> total des sessions</h3>
            <span>{{totale}}</span>
        </div>
        <div class="total">
            <h3> Nombre d'Inscrits</h3>
            <span>{{appPerSession}}/session</span>
        </div>
    </div>
     <div class="chart" style="background-color: white;">
        <h2>Recommandations de Sujets à Considérer pour Vos Futures Formations</h2>
       <div class="sujet">
            @for (item of recommendations; track $index) {
                <div class="tit"><div class="cer"></div> {{item}}</div>
            }
        </div>
       
    </div>
</div>