<ul class="nav justify-content-center nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="formateur/home">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="formateur/cours">Cours</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="formateur/demande">Demande</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="formateur/sessions">Sessions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="formateur/agenda">Agenda</a>
    </li>
  </ul>
