 <h2  mat-dialog-title>{{session.nom}} </h2>
<mat-dialog-content style="max-height: 50vh; min-height: 50vh;" class="mat-typography">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Details de session">
           @if (!presence) {
                <div style="width: 100%;">
                  
            
                    <div class="container mt-5">
                
                        <div class="row d-flex justify-content-center" style="width: 100%;">
                            
                            <div class="col-md-7" style="width: 100%;" >
                                
                                <div class="card p-3 py-4" style="width: 100%;">
                                    
                                    <div class="text-center">
                                        <img [src]="imageUrl"  width="150" class="rounded-circle">
                                    </div>
                                    
                                    <div class="text-center mt-3">
                                        <h5 class="mt-2 mb-0" style="text-transform: capitalize;">{{session.demande.formateur.firstname}} {{session.demande.formateur.lastname}}</h5>
                                        <span>{{session.demande.formateur.poste}}</span>
                                        
                                        <div class="px-4 mt-1" style="text-align: center;">
                                            <p class="fonts">
                                                {{session.demande.formateur.bio}}.
                                                
                                             </p>   
                                        </div>
                                        <div style="width: 100%; display: flex; align-items: flex-start; justify-content: flex-start;">
                                            <div class="social-list" >
                                                <span><i class="fa fa-google">:</i> {{session.demande.formateur.email}}</span>
                                                <a href=session.demande.formateur.linkedin><i class="fa fa-linkedin">:</i><span style="text-decoration: underline; margin-left: 6px;">page linkedin</span> </a>
                                            </div>
                                        </div>
                                        <div class="px-4 mt-1">
                                            <p class="fonts">
                                                {{session.demande.description}}.<br>
                                                <span style="font-weight: bold;">Nombre des sessions: </span> {{session.demande.nbrSession}}
                                             </p>
                                            
                                        
                                        </div>
                                    </div>
                                    
                                   
                                    
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            
            }@if (!isPresent) {
                @if(presence && !code) { 
                    <div class="newsletter-subscribe" >
                        <div class="container">
                            <div class="intro">
                                <h2 class="text-center">Validation de l'email</h2>
                                <p class="text-center">Pour marquer votre présence, veuillez vérifier que votre adresse e-mail est valide. Si vous avez récemment changé d'adresse, merci de la mettre à jour. Nous allons envoyer un code de vérification à votre e-mail. Confirmez que votre e-mail est correct et actif pour continuer. </p>
                            </div>
                            @if (!confirm){
                           <form [formGroup]="mailForm" (ngSubmit)="send()" class="form-inline">
                                <div class="form-group"><input  matInput formControlName="mail" class="form-control" type="email"  placeholder="email"></div>
                                <div class="form-group"><button class="btn " style="background-color: #7d8285 ; color: white;" [disabled]=confirm type="submit">Confirmer</button></div>
                            </form>
                            }@else  {
                                <div align="center" style="margin-top: 24px;"><img src="../../../../assets/images/Spinning line.gif" alt=""></div>
                            }
                        </div>
                    </div>
                    }@else if (code) {
                        <div class="newsletter-subscribe" >
                            <div class="container">
                                <div class="intro">
                                    <p class="text-center"> Pour confirmer votre présence, veuillez entrer le code de vérification que nous vous avons envoyé par email. <br>
                                       <strong style="color: black;">{{ minutesDisplay | number: '2.0' }} : {{ secondsDisplay | number: '2.0' }}</strong>  </p>
                                </div>
                               <form [formGroup]="codeForm" (ngSubmit)="present()" class="form-inline">
                                    <div class="form-group"><input  matInput formControlName="code" class="form-control" type="text"  placeholder="donner le code"></div>
                                    <div class="form-group"><button class="btn " style="background-color: #7d8285 ; color: white;" type="submit">Envoyer</button></div>
                                </form>
                                <div class="intro" style="margin-top: 15px;">
                                    <p class="text-center">  Si le code a expiré, vous pouvez demander un nouveau code en cliquant sur le bouton ci-dessous. </p>                    
                                </div>
                                <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
                                    @if (!confirm) {
                                        <button (click)="send()" align="center" style="background-color: transparent;border-color: transparent; text-decoration: underline;">Renvoyer le code</button>
                                    }@else{
                                            <button (click)="send()" align="center" disabled  style="background-color: transparent;border-color: transparent; text-decoration: underline;">Renvoyer le code</button>
                                    }
                                </div>
                            </div>
                        </div>
                       
                        } 
            
                } @else if(isPresent && presence) {
                    @if (!presentcbn) {
                    <div>
                        <div style="width: 100%; display: flex; align-items: center; justify-content: center; padding: 1rem; margin-top: 80px;">
                            <i  style="color: green; font-size: 8rem;" class="fa-solid fa-circle-check"></i>
                        </div>
                        <p class="text-center">Vous êtes présent(e)</p>
                    </div>  
                    }
                    @else if(presentcbn){
                    <div style="margin-top: 25px;">
                        <form [formGroup]="evalForm" (ngSubmit)="envoyer()">
                            <table class="table table-bordered" style="border-top: transparent;">
                            <thead class="thead-light">
                              <tr>
                                <th style="border-top: transparent; border-left: transparent;"  scope="col"></th>
                                <th style="color: green; border-top:1px solid #ddd; width: 130px ;" scope="col"><i class="fa-solid fa-check"></i></th>
                                <th style="color: red; border-top:1px solid #ddd; width: 130px;" scope="col"><i class="fa-solid fa-xmark"></i></th>
                               
                              </tr>
                            </thead>
                            <tbody>
                              @if (session.id == sess['firstSessionId']) { 
                              <tr>
                                <th scope="row">Manuel de formation+cle USB</th>
                                <td><input type="radio" name="manuel" formControlName="manuel" value="oui" class="custom-control-input"></td>
                                <td><input type="radio" name="manuel" formControlName="manuel" value="non" class="custom-control-input"></td>
                               
                              </tr>
                              <tr>
                                <th scope="row">Cartable</th>
                                <td><input type="radio" name="cartable" formControlName="cartable" value="oui" class="custom-control-input"></td>
                                <td><input type="radio" name="cartable" formControlName="cartable" value="non" class="custom-control-input"></td>
                               
                              </tr>
                            }
                              <tr>
                                <th scope="row">Pause cafe</th>
                                <td><input type="radio" name="pauseCafe" formControlName="pauseCafe" value="oui" class="custom-control-input"></td>
                                <td><input type="radio" name="pauseCafe" formControlName="pauseCafe" value="non" class="custom-control-input"></td>
                               
                              </tr>
                              <tr>
                                <th scope="row">Dejeuner</th>
                                <td><input type="radio" name="dejeuner" formControlName="dejeuner" value="oui" class="custom-control-input"></td>
                                <td><input type="radio" name="dejeuner" formControlName="dejeuner" value="non" class="custom-control-input"></td>
                              </tr>
                            </tbody>
                          </table>
                          <div style="width: 100%;"> <button align="right" type="submit" mat-raised-button>Confirmer</button></div>
                        </form>
                    </div>}
                }
        </mat-tab>
        <mat-tab label="Commentaires">
            <div style="width: 100%; " class="container1">
                <div class="d-flex justify-content-center row " style="overflow-y: scroll;">
                    @for (item of comments; track $index) {
                        <div style="width: 100%; background-color: transparent;" class="col-md-8">
                            <div  class="d-flex flex-column  comment-section" style="margin-bottom: 0;">
                                <div class=" p-2">
                                    <div class="d-flex flex-row user-info">
                                        <div class="d-flex flex-column justify-content-start ml-2 sender" style="padding: 0 20px; margin-bottom: 0;">
                                            @if(item.apprenant!=null){
                                                <span class="d-block font-weight-bold name">{{item.apprenant.firstname}} {{item.apprenant.lastname}}</span>

                                            }@else {
                                            <span class="d-block font-weight-bold name">{{item.formateur.firstname}} {{item.formateur.lastname}}</span>

                                            }
                                            <span class="date text-black-50 ml-20" style="font-size: 12px;"> {{item.date|date : 'dd/MM'}}</span></div>
                                    </div>
                                    <div>
                                        <p style="padding: 0 20px; margin-bottom: 0;" class="comment-text">{{item.comment}}</p>
                                    </div>
                                </div>
                             
                               
                            </div>
                        </div>
                    }
                   
                </div>
                <form [formGroup]="commentForm" (ngSubmit)="comment()" style="justify-self: flex-end; width: 100%; " class="bg-light p-2">
                    <div class="d-flex flex-row" style="justify-content: center; gap: 5px; align-items: center;">
                        <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
                        <textarea matInput formControlName="comment" class="form-control ml-1 shadow-none textarea" required></textarea>
                        <button class="btn btn-sm shadow-none" type="submit">Ajouter</button>

                        </div>
                    <div class="mt-2 text-right" >
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Certificat">
           <div style="width: 100%; " class="container1">
                
                @if (view) {
                    <iframe [src]="fileContent" width="100%" height="370px"></iframe>
                }@else {
                    <button (click)="confirmerModele()" mat-button>generer l'attestation</button>
                }
            </div>
        </mat-tab>
        
      </mat-tab-group>
    
  

    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="terminer()" mat-dialog-close>Quitter</button> 
    @if (!presence) {
        <button mat-button (click)="press()" cdkFocusInitial >Affirmer la présence</button>
    }@else if(!isPresent){
        <button mat-button (click)="retour()" cdkFocus >Retour</button>

    }@else if(isPresent && !presentcbn) {
        <button mat-button (click)="continue()" cdkFocus >Continue</button>

    }@else if(presentcbn && sess['lastSessionId']!=session.id ) {
        <button mat-button cdkFocus mat-dialog-close (click)="terminer()" >Terminer</button>

    }@else if (presentcbn && sess['lastSessionId']==session.id) {
        <button mat-button cdkFocus mat-dialog-close (click)="evaluer()" >Evaluer la session</button>
    }
</mat-dialog-actions>
