.infoper{
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
}
.row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}
.addImg{
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    color: cornflowerblue;
    text-decoration: underline;
}
.addImg img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
}
.addImg small{
    cursor: pointer;
}
.form-control{
    padding: 4px 8px;
    border-color: #3658a231;
}

.btn{

    padding: 5px 8px;
    background-color: #3658A2;
    border-color: #3658A2;
    width: 40%;
    margin-top: 20px;
    align-self: flex-end;
}
h6{
    color: #3658A2;
}
.mat-mdc-dialog-content{
    min-height: 55vh;
}
.form-group{
    margin-bottom: 7px;
}