<div class="container">


    <div class="content-wrapper">

        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                   
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                    <li class="person" data-chat="person1" style="background-color: beige;">
                                        <div class="user">
                                            <img src="../../../assets/images/admin.jpeg" alt="Retail Admin">
                                            <span class="status busy"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Administrateur</span>
                                            <span class="time"></span>
                                        </p>
                                    </li>
                                    
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9" style="background-color: white; max-height: 100vh;">
                            <div class="selected-user">
                                <span>To: <span class="name">Administrateur</span></span>
                            </div>
                            <div class="chat-container">
                                
                                <ul class="chat-box chatContainerScroll" style="overflow-y: scroll;">
                                    @for (item of messageList; track $index) {
                                        @if (item.message_side =='receiver') {
                                    <li class="chat-left">
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                           
                                        </div>
                                        <div class="chat-text">{{item.message}}</div>
                                        <div class="chat-hour">{{item.time}}</div>
                                    </li>
                                }@else {
                                    <li class="chat-right">
                                        <div class="chat-hour">{{item.time}}</div>
                                        <div class="chat-text">{{item.message}}</div>
                                        <div class="chat-avatar">
                                            <img src="../../../assets/images/tesnime.jpg" alt="Retail Admin">
                                            <div class="chat-name"></div>
                                        </div>
                                    </li>
                                }
                                }
                                   
                                </ul>
                                <div class="form-group mt-3 mb-0" style="display: flex; align-items: center; gap: 10px; padding: 0 3rem;" >
                                    <textarea class="form-control" rows="1" placeholder="message..." [(ngModel)]="messageInput" ></textarea>
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="sendMessage()" class="send" fontIcon="send"></mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>

            </div>

        </div>
       

    </div>
   
</div>